google-genai
mistralai
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-mistralai
chromadb
langchain-chroma
sentence-transformers
pypdf
python-docx
beautifulsoup4
python-dotenv
numpy
pandas
fastapi
uvicorn
requests
httpx
jupyter
ipykernel
langchain-huggingface